<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        @@include('../common/head.html')
        <title>七月在线 - 专注数据领域的在线教育</title>

        <link rel="stylesheet" href="../../dist/css/login/login.css">
    </head>
    <body>
    	<div class="findPwdBox">
    		<a href="###" class="login-logo"></a>
    		<h1>找回密码</h1>
    		<form action="" class="findPwdInfo">
    			<input type="email" placeholder="邮箱" name='email'>
    			<div class="provingBox">
    				<input type="text" placeholder="验证码" name='proving'>
    				
    			</div>
				<input type="submit" name="submit" class="btn-submit" value="下一步">
    		</form>
    	</div>
    </body>
</html>