<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        @@include('../common/head.html')
        <title>七月在线 - 专注数据领域的在线教育</title>

        <link rel="stylesheet" href="../../dist/css/login/login.css">
    </head>
    <body>
    	<div class="findPwdBox">
    		<a href="###" class="login-logo"></a>
    		<h1>找回密码</h1>
    		<div class="findPwdInfo successInfo">
                <p>密码重置链接已经发到您邮箱</p>
                <a>1176673068@qq.com</a>
                <p>请登录您的邮箱并点击密码重置链接进行密码更改</p>      
            </div>
            <div class="successFooter">
                <p><span>还没收到确认邮件？</span>
                    尝试到广告邮箱、垃圾邮件目录里找找看
                </p>
            </div>
    	</div>
    </body>
</html>